#timeContainer{
    margin-top: 2%;
}
#displayTime{
    background-color: rgb(117, 214, 214);
    margin: 10px 60px;
    height: 26em;
    text-align: center;
    padding:  0px 30px 20px 30px;
    font-size: 15em;
    border-radius: 15px;
}
#colon{
    font-size: 5em;
}